:root {
  font-family: 'Gambarino', 'Stardom', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #dd212b;
  background-color: #FFFFFF;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #dd212b;
  text-decoration: inherit;
}
a:hover {
  color: #a0258a;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #FFFFFF;
  color: #dd212b;
  font-family: 'Gambarino', 'Stardom', system-ui, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gambarino', 'Stardom', system-ui, sans-serif;
  color: #dd212b;
}

button {
  font-family: 'Gambarino', 'Stardom', system-ui, sans-serif;
  cursor: pointer;
  transition: all 0.2s;
}
